@import './structure';

.category__container {
  background: #fff;
  margin: 2.75rem auto;
  max-width: $layout-text-column;
  padding: 2.75rem;

  li {
    margin-top: 3rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .category-item__container {
    display: block;
    height: 15rem;
    overflow: hidden;
    position: relative;

    .category-item__header {
      background: rgba(255, 255, 255, .85);
      box-sizing: border-box;
      display: block;
      padding: 1rem;
      position: absolute;
      text-align: center;
      transition: transform .1s;
      width: 100%;
      z-index: 1;

      h2, p {
        color: #111;
        margin: 0;
      }

      p {
        font-size: 1rem;
      }
    }

    .category-item__image {
      background-position: center;
      background-size: cover;
      filter: brightness(80%);
      position: absolute;
      transition: all .1s;
      transform: scale(1);
      width: 100%;

      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &:hover {
      .category-item__header {
        transform: translateY(-110%);
      }

      .category-item__image {
        filter: brightness(100%);
        transform: scale(1.1);
      }
    }
  }
}
