$color-01: #fbc2eb;
$color-02: #a18cd1;

$color-body-background: $color-01;

$color-header-foreground: #fff;

$color-page-background: #fafafa;

$color-content-background: #fff;
$color-content-header: #111;
$color-content-paragraph: #111;
$color-content-link: #6495ed;

$color-footer-foreground: #fff;

@mixin color-background($darkness: 0, $inverted: false) {
  @if $inverted {
    background-image: linear-gradient(to top, darken($color-01, $darkness) 0%, darken($color-02, $darkness) 100%);
  }
  @else {
    background-image: linear-gradient(to top, darken($color-02, $darkness) 0%, darken($color-01, $darkness) 100%);
  }
}
