.article__content {
  ul, li {
    list-style-type: circle;
  }

  ul {
    margin-bottom: 1.68rem;
    padding-left: 2.5rem;
  }

  li {
    font-size: 1rem;
    line-height: 1.68rem;
  }

  .social__container {
    padding-top: 1rem;
  }
}
