@import './colors';

.content-container {
  min-height: 100vh;
}

.article-content {
  ul, li {
    list-style-type: circle;
  }

  ul {
    margin-bottom: 1.68rem;
    padding-left: 2.5rem;
  }

  li {
    font-size: 1rem;
    line-height: 1.68rem;
  }

  .social-container {
    padding-top: 1rem;
  }
}
