@import './structure.scss';
@import './colors.scss';

.site-header-container {
  @include color-background;

  border-bottom: .5rem solid $color-01;
  
  .logo-container {
    border-bottom: 2px solid $color-header-foreground;
    margin: 0 2.5%;

    .logo {
      margin: 0 2.5%;
    }

    a {
      color: $color-header-foreground;
      font-size: 1.5rem;
      line-height: 5rem;
      text-decoration: none;
    }
  }

  nav {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: $layout-text-column;
    width: 90%;

    ul {
      display: flex;
    }

    li {
      flex: 1;
      transition: background .1s;

      &:hover {
        background-color: rgba(0, 0, 0, .3);
      }
    }

    a {
      color: $color-header-foreground;
      display: block;
      font-size: 1rem;
      line-height: 3rem;
      text-align: center;
      text-decoration: none;
    }
  }
}
