@import './colors';
@import './structure';

.home-hero-container {
  min-height: 100vh;

  &::after {
    background-image: url('/assets/images/hero.jpg');
    background-position: center;
    background-size: cover;
    content: '';
    display: block;
    filter: brightness(30%);
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .hero-content {
    color: $color-header-foreground;
    font-size: 3rem;
    margin: {
      left: auto;
      right: auto;
    }
    text-align: center;
    text-transform: uppercase;
    z-index: 1;

    span:first-child {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }

    span {
      display: block;
    }
  }

  .hero-background {
    display: none;
  }
}
