@import './colors';
@import './structure';

.index__container {
  nav {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: $layout-text-column;

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-items: center; 
      margin-top: 5rem;
    }

    li {
      flex: 1;
      padding: 1rem;
    }

    a {
      display: block;
      height: 16rem;
      margin: {
        bottom: 3rem;
        left: auto;
        right: auto;
      }
      position: relative;
      width: 16rem;

      &:hover {
        .navigation__transition-helper-2 {
          opacity: 0;
        }
      }

      @mixin cover {
        border-radius: 24rem;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      .navigation__content {
        bottom: -2rem;
        color: #a18cd1;
        font-size: 1.5rem;
        position: absolute;
        text-align: center;
        text-transform: lowercase;
        width: 100%;
      }

      .navigation__transition-helper-1 {
        @include color-background(30%);
        @include cover;
      }

      .navigation__transition-helper-2 {
        @include color-background;
        @include cover;

        transition: opacity .1s;
      }

      .navigation__transition-helper-3 {
        @include cover;

        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  .navigation__articles .navigation__transition-helper-3 {
    background-image: url('/assets/images/speech-bubble.svg');
    background-position: center 60%;
  }

  .navigation__projects .navigation__transition-helper-3 {
    background-image: url('/assets/images/mustache.svg');
  }
}
