@import './structure';
@import './colors';

.project-content-container {
  background: $color-content-background;
  margin: 2.75rem auto;
  max-width: $layout-text-column;
  padding: 2.75rem;

  header {
    min-height: 30vh;
    position: relative;

    img {
      filter: brightness(30%);
      position: absolute;
      width: 100%;

      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
