---
layout: base
---
<div class="index__container">
  <nav>
    <ul>
      <li>
        <a class="navigation__articles" href="/articles">
          <span class="navigation__content">Articles</span>

          <span class="navigation__transition-helper-1"></span>

          <span class="navigation__transition-helper-2"></span>

          <span class="navigation__transition-helper-3"></span>
        </a>
      </li>

      <li>
        <a class="navigation__projects" href="/projects">
          <span class="navigation__content">Projects</span>

          <span class="navigation__transition-helper-1"></span>

          <span class="navigation__transition-helper-2"></span>

          <span class="navigation__transition-helper-3"></span>
        </a>
      </li>
    </ul>
  </nav>

  {{ content }}
</div>
